<a href="https://colab.research.google.com/github/VanishingRasengan/WahlfachKIWiSe2324/blob/main/Lektion_1_CrashkursPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Python?

Python is a modern, robust, high level programming language. It is very easy to pick up even if you are completely new to programming.

- The most recent major version of Python is Python 3, which we shall be using in this tutorial.
- Python has a simple syntax similar to the English language.
- Python uses new lines to complete a command.
- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes.

# Python Syntax

It is important to know how to write lines of code in Python.

## Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
    print("Five is greater than two!")

Python will give you an error if you skip the indentation:

In [ ]:
if 5 > 2:
print("Five is greater than two!")

## Comments

Python has commenting capability for the purpose of in-code documentation.

Comments start with a **#**, and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment.
print("Hello, World!")

# Python Variables

Variables are reserved memory locations to store values. This means that when you create a variable you reserve some space in your computer memory.

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable.

In [ ]:
x = 5
y = "John"

print(x)
print(y)

Variables can be str(Strings), int(integers), float(decimal point numbers) and many more.

We show a few common examples.

In [ ]:
x = 4 # x is of type int
y = "Sally" # y is of type str
z = 4.0 # z is of type float

print(x)
print(y)
print(z)

Variables do not need to be declared with any particular type and can even change type after they have been set.

In [ ]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

**Note**

To declare a string you can use either "..." or '...'.

Single (') and double (") quotes are equivalent in Python.

## Exercise
You can also do some calculations with variables:

- Create a variable growth_multiplier, equal to 1.1.
- Create a variable, result, equal to the amount of money you saved after 7 years.
- Print out the value of result.

In [ ]:
# Create a variable savings
savings = 100

# Create a variable growth_multiplier


# Calculate result


# Print out result
print(result)

# The Print Statement

A **function** is a set of statements that take inputs, do some specific computation and produces output. More about it is explained in the Lists section.

The print() is a built in function  which displays all of its inputs as strings, separated by spaces and follows by a linebreak:

In [ ]:
print("Hello","World")

## Printing variables

In [ ]:
string1='World'
string2='!'
print('Hello' + string1 + string2)

A easy way to print variables is by using .format() function. This is also a built in python function.

In [ ]:
name = "Tobias"

print(" Hello, I am {}".format(name))

## Exercise

Try to store your name and age in variables and print the output. Fill out the missing parts to run the two cells below successufully.

In [ ]:
name = "Sai"
age = "23"

In [ ]:
print("I am {} and my age is {}".format())

# Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [ ]:
a = []

type(a)

## Indexing

In python, indexing starts from 0 as already seen for strings. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [ ]:
x = ['apple', 'orange']

x[0]

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [ ]:
x[-1]

## Slicing

Slicing means accessing a sequence of data inside the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [ ]:
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])
print(num[4:])

## Reassigning Values

You can change values of any index of a list.

In [ ]:
num[0] = 10

print(num)

But you cannot assign values to a index which is more than the length of the list.

In [ ]:
num[11] = 11
print(num)

To add more values to end of list we can use append(). We show how .append() works below.

## Built in List Functions

A **function** is a set of statements that take inputs, do some specific computation and produces output. Python provides **built-in functions** like print(), etc. but we can also create your own functions. These functions are called **user-defined functions**.

Python list has a number of functions that are built in which are always available. Some of the most used ones are:
- len()
- max() or min()
- sum()
- append()
- sort()

len(): To get the length of the list.

In [ ]:
num = [0,1,2,3,4,5,6,7,8,9]

len(num)

max(), min(): To get maximum and minimum values in the list.

In [ ]:
print(max(num))

print(min(num))

sum(): To calculate sum of all elements in the list.

In [ ]:
print(sum(num))

Remember we tried to add 11 to num list but got an error. We can use .append() instead.

append(): Insert an element at the end of a list.

In [ ]:
num.append(11)
print(num)

sort(): To arrange the elements in ascending order.

In [ ]:
num.sort()
print(num)

## Exercise

Print the second item in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]

# print second item of the list
print()

Add another fruit to the fruits list. Print the updated list.

In [ ]:
# add another fruit

# print the updated list
print()


Using a combination of list subsetting and variable assignment, create a new variable, eat_sleep_area, that contains the sum of the area of the kitchen and the area of the bedroom. Print the new variable eat_sleep_area.

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area


# Print the variable eat_sleep_area


- Use slicing to create a list, downstairs, that contains the first 6 elements of areas.
- Do a similar thing to create a new variable, upstairs, that contains the last 4 elements of areas.
- Print both downstairs and upstairs using print().

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs


# Use slicing to create upstairs


# Print out downstairs and upstairs


- Update the area of the bathroom area to be 10.50 square meters instead of 9.50.
- Make the areas list more trendy! Change "living room" to "chill zone".

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Correct the bathroom area


# Change "living room" to "chill zone"

# User-defined Functions

User-defined Functions can represent mathematical functions. More importantly, in programmming functions are a mechansim to allow code to be re-used so that complex programs can be built up out of simpler parts.

In [ ]:
def firstfunc():
    print("Hello!")
    print("How are you?")
firstfunc() # execute the function

We can make our function firstfunc() to accept arguements which will store the name and then prints respective to that accepted name. To do so, add a argument within the function as shown.

In [ ]:
def firstfunc(username):
    print("Hello {}." .format(username))

firstfunc("Tobias")

## Return Statement

When the function results in some value and that value has to be stored in a variable or needs to be sent back or returned for further operation to the main algorithm, a return statement is used.

In [ ]:
def times(x,y):
    z = x*y
    return z

c = times(4,5)
print(c)

## Exercise

Write a function to calculate Body Mass Index:

Inputs are:
- weight (kg)
- height (m)

Formula: $weight/(height)^2$

In [ ]:
BMI = None
# Write your own function


print("Your BMI is: {}".format(BMI))

# Dictionary

A dictionary is a collection which is unordered, changeable and indexed.

In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
mydict ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(mydict)

## Accessing items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
x = mydict["model"]
print(x)

## Change Values

You can change the value of a specific item by referring to its key name:

In [ ]:
mydict["year"] = 2018

print(mydict)

## Adding/ removing Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it. Removing works similiar:

In [ ]:
mydict ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict["color"] = "red"
print(mydict)

In [ ]:
del(mydict["color"])
print(mydict)

## Exercise

Construct a dictionary named car with the characteristics, Brand is "Audi", Model of the car: "Q3" and Year of construction: 2001.

Then perform the following tasks:
- Get its model
- Change the year to 2019
- Add Colour of car as Blue

In [ ]:
car ={

}

In [ ]:
# get the model
model =
print("The model of car is: {}".format(model))

In [ ]:
# change the year


# print the entire dictionary
print(car)

In [ ]:
# add colour


# print the entire dictionary
print(car)

# Control Flow Statements

The key thing to note about Python's control flow statements and program structure is that it uses indentation to mark blocks. Hence the amount of white space (space or tab characters) at the start of a line is very important.

## If - else

An *if* statement consists of a boolean expression followed by one or more statements, and these statements are executed if the boolean condition is true.
If the condition is not satisfied, the statements below *else* are executed.

In [ ]:
x = 12
if x > 10:
    print("Hello")
else:
    print("Bye")

## Elif

To check for multiple conditions, the *elif* is used.

In [ ]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

## For loop

The *for* loops are used when you have a block of code which you want to repeat a fixed number of times. The Python *for* statement iterates over the members of a sequence in order, executing the block each time.

When looping over integers the *range()* function is useful. It can be of two types.
- The function *range(stop)* has parameter *stop* which is the number of integers (whole numbers) to generate, starting from zero. For example, **range(3) == [0, 1, 2].**
So, in general, range(n) =  0, 1, ..., n-1


- range(m,n)= m, m+1, ..., n-1
. For example, **range(3, 6) === [3, 4, 5].**


- range(m,n,step) = m, m+step, m+step+step, ..., n-1
. For example, **range(3, 10, 2) === [3, 5, 7, 9].**


Here, += operator is used. This operator adds right operand to the left operand and assign the result to left operand.
For example, c += a is equivalent to c = c + a

In [ ]:
total = 0
for i in range(5):
    print(i)
    total += i

print("total =",total)

## While Loop

The *while* loop loops through a block of code as long as a specified condition is true.

while (condition) {

  // code block to be executed

}

We display the squares of first two natural numbers.

The ****** operator in Python denotes the power operator. For example, c**2 is equivalent to c to the power of 2 (= c x c)

In [ ]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

## Exercise

Try to print all the greetings by changing the time variable.

In [ ]:
time = None

if time<12:
    print("Guten Morgen")
elif time>17:
    print("Guten Abend")
else:
    print("Guten Tag")

## Exercise
Calculate the average of first 20 numbers, that is between 0 to 20. Use any of the Loop statements.

In [ ]:
average = None
# write your code here


print("Average of first 20 numbers: {}".format())

# Wiederholung und Übung

Beim letzten Wahlfachtermin haben wir die wichtigsten Grundlagen in Python kennengelernt, nämlich
- Variabeln
- Kontrollstrukturen: Verzweigungen (if) und Schleifen (while)
- Funktionen
- Listen
- Dictionaries

Heute runden wir unseren Python Crash-Kurs ab und lernen zwei wichtige libraries kennnen: Matplotlib und Pandas.

Doch davor eine kleine Übung zum Einstieg:

## Atherogenic index

For the risk assessment in diseases of the cardiovascular system, the serum concentrations of the lipoproteins LDL and HDL are significant parameters in addition to the total cholesterol concentration. The ratio of the concentration of pro-atherogenic LDL to anti-atherogenic HDL is referred to as atherogenic index.

>atherogenic_index = LDL/HDL; LDL and HDL are in mg/dl.

The result of the index is as follows:

    <2.0 : No risk
    2.0 - 4.0 : Moderate risk
    >4.0 : Highest risk

The task is to calculate the atherogenic index of a patient and decide how much risk the patient has of a cardiovascular disease.

Input will be a dicionary with LDL and HDL of patient: {"LDL": , "HDL": }

Output will give the risk level.

In [ ]:
def calculate_artherogenic_index(patient_data):


patient_input = {"LDL": 4.0,
                "HDL": 3.5}

calculate_artherogenic_index(patient_data=patient_input)

In [ ]:
patient_input = {"LDL": 12.0,
                "HDL": 2.5}

calculate_artherogenic_index(patient_data=patient_input)

## GFR

Glomerular filtration rate (GFR) is a test used to check how well the kidneys are working. Specifically, it estimates how much blood passes through the glomeruli each minute. Glomeruli are the tiny filters in the kidneys that filter waste from the blood.

These are about 120 milliliters per minute or about 170 liters per day in an adult human with normal blood pressure levels.

The Score is calculated by:
>$GFR = \displaystyle\frac{140 - age}{72 \cdot serum\_kreatinin}\cdot body\_weight$

where body_weight is in kg, age in years and serum_kreatinin is in mg/dl.

**Note, for woman the score needs to be mulitplied by 0.85.**

The input will be for a patient,
> Patient = {"age":, "weight":, "kreatinin":, "gender":}

Output will be the GFR of the patient.

Inputs to try:
- Patient1 = {"age":20, "weight":85, "kreatinin":12, "gender":male}
- Patient1 = {"age":20, "weight":85, "kreatinin":12, "gender":female}

Corresponding Ouputs:
- Patient1_GFR: 11.8
- Patient2_GFR: 10.0

In [ ]:
patient1 =  {}
patient2 = {}

def calculate_gfr(patient_data):


print("GFR of Patient1 is : {0:.1f}".format(calculate_gfr(patient1)))

print("GFR of Patient2 is : {0:.1f}".format(calculate_gfr(patient2)))

## Child-Pugh Score

The Child-Pugh score is a system for assessing the prognosis — including the required strength of treatment and necessity of liver transplant — of chronic liver disease, primarily cirrhosis. It provides a forecast of the increasing severity of your liver disease and your expected survival rate.

The Score has 5 parameters:

![grafik.png]()

Then, the Child-Pugh Score is:
> Score = Bilirubin + Albumin + INR + Aszites + Enzephalopathie

The inputs will be a dictionary with the key as the parameters for a single patient. For eg.
>Patient1 = {"Bilirubin": , "Albumin": ,        "INR": ,            "Aszites": ,  " Enzephalophatie": }

Output will the Child-Pugh Score of the patient and the corresponding Class.

Inputs to try:
- Patient1 = {"Bilirubin": 1.9, "Albumin": 2.4 ,        "INR": 1.2,            "Aszites": No,  " Enzephalophatie": no}
- Patient2= {"Bilirubin": 2.2, "Albumin": 3.4 ,        "INR": 2.0,            "Aszites": Mild,  " Enzephalophatie": no}
- Patient3 = {"Bilirubin": 3.9, "Albumin": 3.4 ,        "INR": 2.5,            "Aszites": Moderate ,  " Enzephalophatie": Grade III-IV}

Corresponding Outputs:
- Patient1 : B
- Patient2 : B
- Patient3 : C

In [ ]:
patient1 = {"Bilirubin": 1.9, "Albumin": 2.4 , "INR": 1.2, "Aszites": "No", "Enzephalophatie": "No"}
patient2= {"Bilirubin": 2.2, "Albumin": 3.4 , "INR": 2.0, "Aszites": "Mild", "Enzephalophatie": "No"}
patient3 = {"Bilirubin": 3.9, "Albumin": 3.4 , "INR": 2.5, "Aszites": "Moderate" , "Enzephalophatie": "Grade III-IV"}

def calculate_child_pugh(patient_data):
    cp_score = 0

    # Bilirubin scores
    if patient_data["Bilirubin"]< 2.0:
        cp_score += 1
    elif patient_data["Bilirubin"]>= 2.0 and patient_data["Bilirubin"]<= 3.0:
        cp_score += 2
    elif patient_data["Bilirubin"]> 3.0:
        cp_score += 3

    # Albumin scores
    if patient_data["Albumin"]> 3.5:
        cp_score += 1
    elif patient_data["Albumin"]>= 2.8 and patient_data["Albumin"]<= 3.5:
        cp_score += 2
    elif patient_data["Albumin"]< 2.8:
        cp_score += 3

    # INR scores


    # Aszites scores


    # Enzephalophatie scores
    if patient_data["Enzephalophatie"] == "No":
        cp_score += 1
    elif patient_data["Enzephalophatie"] == "Grade I-II":
        cp_score += 2
    elif patient_data["Enzephalophatie"]== "Grade III-IV":
        cp_score += 3

    # Scorebildung
    if cp_score ...

print("Child Pugh Score Scale for patient1 is : {}".format(calculate_child_pugh(patient1)))

print("Child Pugh Score Scale for patient1 is : {}".format(calculate_child_pugh(patient2)))

print("Child Pugh Score Scale for patient1 is : {}".format(calculate_child_pugh(patient3)))

# Matplotlib

Data visualization is a key skill for aspiring data scientists. Matplotlib makes it easy to create meaningful and insightful plots. In this chapter, you’ll learn how to build various types of plots, and customize them to be more visually appealing and interpretable.

Ignore the following code as it loads the dataset.

In [ ]:
year = [1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100]
pop = [2.53, 2.57, 2.62, 2.67, 2.71, 2.76, 2.81, 2.86, 2.92, 2.97, 3.03, 3.08, 3.14, 3.2, 3.26, 3.33, 3.4, 3.47, 3.54, 3.62, 3.69, 3.77, 3.84, 3.92, 4.0, 4.07, 4.15, 4.22, 4.3, 4.37, 4.45, 4.53, 4.61, 4.69, 4.78, 4.86, 4.95, 5.05, 5.14, 5.23, 5.32, 5.41, 5.49, 5.58, 5.66, 5.74, 5.82, 5.9, 5.98, 6.05, 6.13, 6.2, 6.28, 6.36, 6.44, 6.51, 6.59, 6.67, 6.75, 6.83, 6.92, 7.0, 7.08, 7.16, 7.24, 7.32, 7.4, 7.48, 7.56, 7.64, 7.72, 7.79, 7.87, 7.94, 8.01, 8.08, 8.15, 8.22, 8.29, 8.36, 8.42, 8.49, 8.56, 8.62, 8.68, 8.74, 8.8, 8.86, 8.92, 8.98, 9.04, 9.09, 9.15, 9.2, 9.26, 9.31, 9.36, 9.41, 9.46, 9.5, 9.55, 9.6, 9.64, 9.68, 9.73, 9.77, 9.81, 9.85, 9.88, 9.92, 9.96, 9.99, 10.03, 10.06, 10.09, 10.13, 10.16, 10.19, 10.22, 10.25, 10.28, 10.31, 10.33, 10.36, 10.38, 10.41, 10.43, 10.46, 10.48, 10.5, 10.52, 10.55, 10.57, 10.59, 10.61, 10.63, 10.65, 10.66, 10.68, 10.7, 10.72, 10.73, 10.75, 10.77, 10.78, 10.79, 10.81, 10.82, 10.83, 10.84, 10.85]
gdp_cap = [974.5803384, 5937.029525999999, 6223.367465, 4797.231267, 12779.37964, 34435.367439999995, 36126.4927, 29796.04834, 1391.253792, 33692.60508, 1441.284873, 3822.137084, 7446.298803, 12569.85177, 9065.800825, 10680.79282, 1217.032994, 430.0706916, 1713.778686, 2042.09524, 36319.23501, 706.016537, 1704.063724, 13171.63885, 4959.114854, 7006.580419, 986.1478792, 277.5518587, 3632.557798, 9645.06142, 1544.750112, 14619.222719999998, 8948.102923, 22833.30851, 35278.41874, 2082.4815670000003, 6025.374752000001, 6873.262326000001, 5581.180998, 5728.353514, 12154.08975, 641.3695236000001, 690.8055759, 33207.0844, 30470.0167, 13206.48452, 752.7497265, 32170.37442, 1327.60891, 27538.41188, 5186.050003, 942.6542111, 579.2317429999999, 1201.637154, 3548.3308460000003, 39724.97867, 18008.94444, 36180.78919, 2452.210407, 3540.651564, 11605.71449, 4471.061906, 40675.99635, 25523.2771, 28569.7197, 7320.880262000001, 31656.06806, 4519.461171, 1463.249282, 1593.06548, 23348.139730000003, 47306.98978, 10461.05868, 1569.331442, 414.5073415, 12057.49928, 1044.770126, 759.3499101, 12451.6558, 1042.581557, 1803.151496, 10956.99112, 11977.57496, 3095.7722710000003, 9253.896111, 3820.17523, 823.6856205, 944.0, 4811.060429, 1091.359778, 36797.93332, 25185.00911, 2749.320965, 619.6768923999999, 2013.977305, 49357.19017, 22316.19287, 2605.94758, 9809.185636, 4172.838464, 7408.905561, 3190.481016, 15389.924680000002, 20509.64777, 19328.70901, 7670.122558, 10808.47561, 863.0884639000001, 1598.435089, 21654.83194, 1712.472136, 9786.534714, 862.5407561000001, 47143.17964, 18678.31435, 25768.25759, 926.1410683, 9269.657808, 28821.0637, 3970.095407, 2602.394995, 4513.480643, 33859.74835, 37506.41907, 4184.548089, 28718.27684, 1107.482182, 7458.396326999999, 882.9699437999999, 18008.50924, 7092.923025, 8458.276384, 1056.380121, 33203.26128, 42951.65309, 10611.46299, 11415.80569, 2441.576404, 3025.349798, 2280.769906, 1271.211593, 469.70929810000007]
life_exp = [43.828, 76.423, 72.301, 42.731, 75.32, 81.235, 79.829, 75.635, 64.062, 79.441, 56.728, 65.554, 74.852, 50.728, 72.39, 73.005, 52.295, 49.58, 59.723, 50.43, 80.653, 44.74100000000001, 50.651, 78.553, 72.961, 72.889, 65.152, 46.462, 55.322, 78.782, 48.328, 75.748, 78.273, 76.486, 78.332, 54.791, 72.235, 74.994, 71.33800000000001, 71.878, 51.57899999999999, 58.04, 52.947, 79.313, 80.657, 56.735, 59.448, 79.406, 60.022, 79.483, 70.259, 56.007, 46.388000000000005, 60.916, 70.19800000000001, 82.208, 73.33800000000001, 81.757, 64.69800000000001, 70.65, 70.964, 59.545, 78.885, 80.745, 80.546, 72.567, 82.603, 72.535, 54.11, 67.297, 78.623, 77.58800000000001, 71.993, 42.592, 45.678, 73.952, 59.443000000000005, 48.303, 74.241, 54.467, 64.164, 72.801, 76.195, 66.803, 74.543, 71.164, 42.082, 62.069, 52.906000000000006, 63.785, 79.762, 80.204, 72.899, 56.867, 46.859, 80.196, 75.64, 65.483, 75.53699999999999, 71.752, 71.421, 71.688, 75.563, 78.098, 78.74600000000001, 76.442, 72.476, 46.242, 65.528, 72.777, 63.062, 74.002, 42.568000000000005, 79.972, 74.663, 77.926, 48.159, 49.339, 80.941, 72.396, 58.556, 39.613, 80.884, 81.70100000000001, 74.143, 78.4, 52.517, 70.616, 58.42, 69.819, 73.923, 71.777, 51.542, 79.425, 78.242, 76.384, 73.747, 74.249, 73.422, 62.698, 42.38399999999999, 43.487]

## Line plot

In this chapter you will analyze the dynamics of world population growth. The world bank has estimates of the world population for the years 1950 up to 2100. The years are loaded in your workspace as a list called year, and the corresponding populations as a list called pop.


- `print()` the last item from both the year and the pop list to see what the predicted population for the year 2100 is. Use two `print()` functions.
- Before you can start, you should import `matplotlib.pyplot` as plt. pyplot is a sub-package of matplotlib, hence the dot.
- Use `plt.plot()` to build a line plot. year should be mapped on the horizontal axis, pop on the vertical axis. Don't forget to finish off with the `plt.show()` function to actually display the plot.
- Based on the plot, in approximately what year will there be more than ten billion human beings on this planet?

In [ ]:
# Print the last item from year and pop


# Import matplotlib.pyplot as plt


# Make a line plot: year on the x-axis, pop on the y-axis


# Display the plot with plt.show()

## Scatter plot
When you have a time scale along the horizontal axis, the line plot is your friend. But in many other cases, when you're trying to assess if there's a correlation between two variables, for example, the scatter plot is the better choice. Below is an example of how to build a scatter plot.

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(x,y)
plt.show()

Let's continue with a gdp_cap versus life_exp plot, the GDP and life expectancy data for different countries in 2007.
- import matplotlib.pyplot package as plt
- Print the last item from both the list gdp_cap, and the list life_exp; it is information about Zimbabwe.
- Build a scatter plot, with gdp_cap on the x-axis, and life_exp on the y-axis.
- A correlation will become clear when you display the GDP per capita on a logarithmic scale. Add the line plt.xscale('log').
- Finish off your script with plt.show() to display the plot.

In [ ]:
# Import matplotlib.pyplot as plt


# Print the last item of gdp_cap and life_exp


# Make a scatter plot, gdp_cap on the x-axis, life_exp on the y-axis


# Put the x-axis on a logarithmic scale


# Show plot

## Customization

It's time to customize your own plot. This is the fun part, you will see your plot come to life!

### Labels

As a first step, let's add axis labels and a title to the plot. You can do this with the xlabel(), ylabel() and title() functions, available in `matplotlib.pyplot`. This sub-package is already imported as plt.
- The strings xlab and ylab are already set for you. Use these variables to set the label of the x- and y-axis.
- The string title is also coded for you. Use it to add a title to the plot.
- After these customizations, finish the script with plt.show() to actually display the plot.

In [ ]:
# Basic scatter plot, log scale
plt.scatter(gdp_cap, life_exp)
plt.xscale('log')

# Strings
xlab = 'GDP per Capita [in USD]'
ylab = 'Life Expectancy [in years]'
title = 'World Development in 2007'

# Add axis labels


# Add title


# After customizing, display the plot

### Ticks
The customizations you've coded up to now are available in the script, in a more concise form.

You can control the y-ticks by specifying two arguments:

`plt.yticks([0,1,2], ["one","two","three"])`

In this example, the ticks corresponding to the numbers 0, 1 and 2 will be replaced by one, two and three, respectively.
Let's do a similar thing for the x-axis of your world development chart, with the `xticks()` function. The tick values 1000, 10000 and 100000 should be replaced by 1k, 10k and 100k. To this end, two lists have already been created for you: tick_val and tick_lab.


- Use tick_val and tick_lab as inputs to the xticks() function to make the the plot more readable.
- As usual, display the plot with plt.show() after you've added the customizations.

In [ ]:
# Scatter plot
plt.scatter(gdp_cap, life_exp)

# Previous customizations
plt.xscale('log')
plt.xlabel('GDP per Capita [in USD]')
plt.ylabel('Life Expectancy [in years]')
plt.title('World Development in 2007')

# Definition of tick_val and tick_lab


# Adapt the ticks on the x-axis


# After customizing, display the plot

# Pandas
Pandas is an open source library, providing high-performance, easy-to-use data structures and data analysis tools for Python.

## From a dictionary to a DataFrame
The DataFrame is one of Pandas' most important data structures. It's basically a way to store tabular data where you can label the rows and the columns. One way to build a DataFrame is from a dictionary.

In the exercises you will be working with vehicle data from different countries. Each observation corresponds to a country and the columns give information about the number of vehicles per capita, whether people drive left or right, and so on.


1. Import pandas as pd.
2. Use the pre-defined lists to create a dictionary called `my_dict`. There should be three key value pairs:
- key `'country'` and value `names`.
- key `'drives_right'` and value `dr`.
- key `'cars_per_cap'` and value `cpc`.
3. Use `pd.DataFrame()` to turn your dict into a DataFrame called `cars`.
4. Print out `cars` and see how beautiful it is.

In [ ]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict


# Build a DataFrame cars from my_dict: cars


# Print cars

Have you noticed that the row labels (i.e. the labels for the different observations) were automatically set to integers from 0 up to 6?

To solve this a list `row_labels` has been created. You can use it to specify the row labels of the `cars` DataFrame. You do this by setting the index attribute of cars, that you can access as `cars.index`.
- Specify the row labels by setting cars.index equal to row_labels.
- Print out cars again and check if the row labels are correct this time.

In [ ]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars


# Print cars again

## Square Brackets

There are many different ways to index and select Pandas DataFrames. The simplest, but not the most powerful way, is to use square brackets.

To select only the cars_per_cap column from cars, you can use:

`cars['cars_per_cap']`

`cars[['cars_per_cap']]`

The single bracket version gives a Pandas Series, the double bracket version gives a Pandas DataFrame.

Time for some excercise!

- Use single square brackets to print out the country column of cars as a Pandas Series.
- Use double square brackets to print out the country column of cars as a Pandas DataFrame.
- Use double square brackets to print out a DataFrame with both the country and drives_right columns of cars, in this order.

In [ ]:
# Print out country column as Pandas Series


# Print out country column as Pandas DataFrame


# Print out DataFrame with country and drives_right columns

Square brackets can do more than just selecting columns. You can also use them to get rows, or observations, from a DataFrame. The following call selects the first five rows from the cars DataFrame:

`cars[0:5]`

The result is another DataFrame containing only the rows you specified.

Pay attention: You can only select rows using square brackets if you specify a slice, like `0:4`. Also, you're using the integer indexes of the rows here, not the row labels!

Let's practise that!

- Select the first 3 observations from cars and print them out.
- Select the fourth, fifth and sixth observation, corresponding to row indexes 3, 4 and 5, and print them out.

In [ ]:
# Print out first 3 observations


# Print out fourth, fifth and sixth observation

## loc and iloc

With `loc` and `iloc` you can do practically any data selection operation on DataFrames you can think of. `loc` is label-based, which means that you have to specify rows and columns based on their row and column labels. `iloc` is integer index based, so you have to specify rows and columns by their integer index like you did in the previous exercise.

Try out the following commands in the IPython Shell to experiment with loc and iloc to select observations. Each pair of commands here gives the same result.

In [ ]:
cars.loc['RU']
cars.iloc[4]

In [ ]:
cars.loc[['RU']]
cars.iloc[[4]]

In [ ]:
cars.loc[['RU', 'AUS']]
cars.iloc[[4, 1]]

`loc` and `iloc` also allow you to select both rows and columns from a DataFrame. To experiment, try out the following commands in the IPython Shell. Again, paired commands produce the same result.

In [ ]:
cars.loc['IN', 'cars_per_cap']
cars.iloc[3, 0]

In [ ]:
cars.loc[['IN', 'RU'], 'cars_per_cap']
cars.iloc[[3, 4], 0]

In [ ]:
cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]
cars.iloc[[3, 4], [0, 1]]

It's also possible to select only columns with loc and iloc. In both cases, you simply put a slice going from beginning to end in front of the comma:

In [ ]:
cars.loc[:, 'country']
cars.iloc[:, 1]

In [ ]:
cars.loc[:, ['country','drives_right']]
cars.iloc[:, [1, 2]]

## Filtering pandas DataFrames
Now we want to learn a step-by-step approach to filter observations from a DataFrame based on boolean arrays.

Let's start simple and try to find all observations in cars where `drives_right` is True.

`drives_right` is a boolean column, so you'll have to extract it as a Series and then use this boolean Series to select observations from `cars`.


- Extract the `drives_right` column as a Pandas Series and store it as `dr`.
- Use `dr`, a boolean Series, to subset the `cars` DataFrame. Store the resulting selection in `sel`.
- Print `sel`, and assert that `drives_right` is `True` for all observations.

In [ ]:
# Extract drives_right column as Series: dr


# Use dr to subset cars: sel


# Print sel

The code in the previous example worked fine, but you actually unnecessarily created a new variable dr. You can achieve the same result without this intermediate variable. Put the code that computes dr straight into the square brackets that select observations from cars.
- Convert the code to a one-liner that calculates the variable sel as before.

In [ ]:
# Convert code to a one-liner


# Print sel

This time you want to find out which countries have a high cars per capita figure. In other words, in which countries do many people have a car, or maybe multiple cars.

Similar to the previous example, you'll want to build up a boolean Series, that you can then use to subset the cars DataFrame to select certain observations.


- Select the `cars_per_cap` column from `cars` as a Pandas Series and store it as `cpc`.
- Use `cpc` in combination with a comparison operator and `500`. You want to end up with a boolean Series that's `True` if the corresponding country has a `cars_per_cap` of more than `500` and `False` otherwise. Store this boolean Series as `many_cars`.
- Use `many_cars` to subset `cars`, similar to what you did before. Store the result as `car_maniac`.
- Print out `car_maniac` to see if you got it right.

In [ ]:
# Create car_maniac: observations that have a cars_per_cap over 500

# Print car_maniac

## Looping

Iterating over a Pandas DataFrame is typically done with the `iterrows()` method. Used in a for loop, every observation is iterated over and on every iteration the row label and actual row contents are available:

```
for lab, row in cars.iterrows() :
    ...
```

- Write a for loop that iterates over the rows of cars and on each iteration perform two print() calls: one to print out the row label and one to print out all of the rows contents.

In [ ]:
# Iterate over rows of cars
for row, lab in cars.iterrows():
    print(row)
    print(lab)

The row data that's generated by iterrows() on every run is a Pandas Series. This format is not very convenient to print out. Luckily, you can easily select variables from the Pandas Series using square brackets:

```
for lab, row in cars.iterrows() :
    print(row['country'])
```


- Using the iterators lab and row, adapt the code in the for loop such that the first iteration prints out `"US: 809"`, the second iteration `"AUS: 731"`, and so on.
- The output should be in the form `"country: cars_per_cap"`. Make sure to print out this exact string (with the correct spacing).
You can use `str()` to convert your integer data to a string so that you can print it in conjunction with the country label.

In [ ]:
# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab + ": " + str(row["cars_per_cap"]))

You can add the length of the country names of the cars DataFrame in a new column like this:

```
for lab, row in cars.iterrows() :
    cars.loc[lab, "name_length"] = len(row["country"])
```

- Use a `for` loop to add a new column, named `COUNTRY`, that contains a uppercase version of the country names in the `"country"` column. You can use the string method `upper()` for this.
- To see if your code worked, print out `cars`. Don't indent this code, so that it's not part of the `for` loop.

In [ ]:
# Code for loop that adds COUNTRY column


# Print cars